<?xml version="1.0" ?>
<!--
 Copyright © SpyroSoft. All rights reserved.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ucp" translate="label" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Universal Commerce Protocol</label>
            <tab>sales</tab>
            <resource>Spyrosoft_Ucp::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="catalog" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog</label>
                <field id="product_id" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product Identifier</label>
                    <source_model>Spyrosoft\Ucp\Model\Config\Source\ProductId</source_model>
                </field>
            </group>

        </section>
    </system>
</config>
